<h1>Edit lucky numbers</h1>
<%= form_for :number do |number| %>
<p>
        <%= number.label :number, "Numbers"%>
        <%= number.text_area :number %>
</p>

<p>
<%= number.submit "Update Number" %>
</p>

<%end%>